body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  border: 2px solid #47476b;
  padding: 5px;
  background: black;
  width: 320px;
  position: relative;
  margin: auto auto;
}
p {
  height: 40px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  position: relative;
  text-align: center;
  background-color: black;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border: 2px solid #47476b;
  padding: 5px;
  padding: 5px;
}
.jumbo {
  position: relative;
  height: 65px;
  width: 160px;
  background: rgb(160, 57, 57);
  outline: 1px solid black;
  border: none;
  background-color: rgb (172, 57, 57);
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
}
.divide,
.multiply,
.seven,
.eight,
.nine,
.minus,
.four,
.five,
.six,
.minus,
.plus,
.one,
.two,
.three,
.point {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
}
.equal {
  width: 80px;
  background: rgb(0, 68, 102);
  outline: 1px solid black;
  border: none;
  height: 130px;
  position: absolute;
  bottom: 5px;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
}
.zero {
  position: relative;
  height: 65px;
  width: 160px;
  color: white;
  outline: 1px solid black;
  border: none;
  background: #4d4d4d;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
}
#footer {
  background-color: aquamarine;
  height: 20px;
  margin-bottom: 0px;
  border: none;
  color: black;
}
#detail {
  background-color: aquamarine;
  height: 20px;
  margin-top: 0px;
  border: none;
  color: black;
}
